*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #9F8170 ;
    font-size: 20px;
}
.menu{
    float: left;
    width: 33.33%;
    text-align: center;
    border: solid 2px;
    padding: 15px;
    background-color: #EFDECD;
}
.menu:hover{
    background-color: #F5F5DC;
}
.pontos{
    float: left;
    width: 24.85%;
    border: solid 2px;
    margin: 1px;
    padding: 10px;
}
.pontos:hover{
    background-color: #a17358 ;

}
.mapas{
    float: left;
    width: 24.85%;
    border: solid 2px;
    padding: 1px;
    margin: 1px;
}
.container2{
    width: 100%;
}
.rodape1{
    float: left;
    width: 80%;
}
.rodape2{
    float: left;
    width: 20%;
}
.link{
    border: groove black;
    background-color: #a17358 ;
    padding: 10px;
    width: 99%;
    margin: 5px;
}
.link:hover{
    background-color: #9F8170 ; 
}
.insc{
    width: 100%;
    text-align: center;
}
.containerbut{
    text-align: end;
    width: 54.5%;

}